<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id="container">
        <h1>All the Users</h1>
        <table>
            <thead>
                <tr>
                    <td class="head">ID</td>
                    <td class="head">Name</td>
                    <td class="head">Email</td>
                    <td class="head">Age</td>
                </tr>
            </thead>
            <tbody>
                {% for item in user_info %}
                <tr>
                    <td>{{ item.user_id }}</td>
                    <td>{{ item.first_name }} {{ item.last_name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.age }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        <form action="/user/create" method="POST">
            {% csrf_token %}
            <div id="forms1">
                <p><label for="user_id">ID
                        <input type="number" name="user_id"></label></p>

                <p><label for="first_name">First Name
                        <input type="text" name="first_name"></label></p>

                <p><label for="last_name">Last Name
                        <input type="text" name="last_name"></label></p>
            </div>
            <div id="forms2">
                <p><label for="email">Email
                        <input type="text" name="email"></label></p>

                <p><label for="age">Age
                        <input type="number" name="age"></label></p>
            </div>


            <button type="submit">Add</button>
        </form>
    </div>

</body>

</html>